
<p>
    Suomen riistakeskus on hyväksynyt päätöksellään {{decisionDate}} nro {{decisionNumber}} osallistumisenne metsästyslain
    41 b §:n 3 momentin mukaiseen ilmoitusmenettelyyn.
</p>

<p>
    Hyväksymispäätöksessä Suomen riistakeskus on vahvistanut ne lintulajit, joita ilmoitusmenettely koskee sekä
    asettanut vuosittain metsästettäväksi sallitut enimmäismäärät lajeittain. Ilmoitusmenettelyyn hyväksytyn toimijan on
    vuosittain tehtävä saalisilmoitus Suomen riistakeskukselle.
</p>

<p>
    Vuonna {{permitYear}} saatu saalis ilmoitetaan numerolla {{permitNumber}}. Ilmoitus suositellaan tehtäväksi
    <a href="{{serverUri}}/#/permitmanagement/{{permitId}}/dashboard">Oma riista- palvelussa</a>.
    Saalisilmoitus on tehtävä myös siinä tapauksessa, että saalista ei ole saatu. Tarkemmat ohjeet
    saalisilmoituksen tekemiseen löytyvät osoitteesta
    <a href="https://riista.fi/metsastys/saalisilmoitukset/rauhoittamattomat-linnut">https://riista.fi/metsastys/saalisilmoitukset/rauhoittamattomat-linnut</a>.
</p>

<p>
    Mikäli suojattava toiminta loppuu tai merkittävästi muuttuu, on siitä ilmoitettava Suomen riistakeskukselle,
    joka tekee arvion ilmoitusmenettelyn jatkumisesta.
</p>


<p>
    Ystävällisin terveisin,<br>
    Suomen riistakeskus
</p>