<p>
      Finlands viltcentral har genom sitt beslut {{decisionDate}} nr {{decisionNumber}} godkänt ert deltagande i anmälningsförfarande i
      enlighet med 41 b 3 mom. i jaktlagen.
</p>

<p>
      I beslutet om godkännande har Finlands viltcentral bekräftat de fågelarter som anmälningsförfarandet gäller samt
      fastställt de maximala årliga fångstantalen per fågelart. En aktör som har godkänts för anmälningsförfarande ska
      varje år lämna in en fångstanmälan till Finlands viltcentral.
</p>

<p>
      Den fångst som har erhållits år {{permitYear}} anmäls med nummer {{permitNumber}}.Det rekommenderas att anmälan
      görs i <a href="{{serverUri}}/#/permitmanagement/{{permitId}}/dashboard">tjänsten Oma riista</a>.
      Fångstanmälan görs också i det fall att ingen fångst har erhållits.
      Noggrannare anvisningar om hur man gör fångstanmälan finns på adressen
      <a href="https://riista.fi/sv/jakt/bytesanmalan/icke-fredade-faglar/">https://riista.fi/sv/jakt/bytesanmalan/icke-fredade-faglar/</a>
</p>

<p>
      Om skyddsåtgärderna avslutas eller ändras väsentligt, ska detta meddelas Finlands viltcentral,
      som bedömer om anmälningsförfarandet ska fortsätta gälla.
</p>


<p>
    Med vänliga hälsningar,<br>
    Finlands viltcentral
</p>











