<h1>Lupahakemus jätetty</h1>
<h2>Haettava lupa</h2>
<p>
    Haettava lupa: {{ permitType.finnish }}<br/>
    Hakemusnumero: {{ applicationNumber }}
</p>

<h3>Luvan yhteyshenkilö</h3>
<p>
    {{contactPerson.firstName}} {{contactPerson.lastName}}<br/>
    {{contactPerson.address.streetAddress}}<br/>
    {{contactPerson.address.postalCode}} {{contactPerson.address.city}}, {{contactPerson.address.country}}<br/>
    Puhelinnumero: {{contactPerson.phoneNumber}}<br/>
    Sähköpostiosoite: {{contactPerson.email}}
</p>

<h3>Lupaa hakee</h3>
<p>
{{~#if permitHolder}}
    {{ permitHolder.officialCode }} - {{ permitHolder.nameFI }}
{{else}}
    {{contactPerson.firstName}} {{contactPerson.lastName}}<br/>
    {{contactPerson.address.streetAddress}}<br/>
    {{contactPerson.address.postalCode}} {{contactPerson.address.city}}, {{contactPerson.address.country}}<br/>
    Puhelinnumero: {{contactPerson.phoneNumber}}<br/>
    Sähköpostiosoite: {{contactPerson.email}}
{{/if~}}
</p>

<h2>Haettu pyyntilupamäärä</h2>
{{#each speciesAmounts~}}
    <p>{{name.finnish}} {{amount}} kpl</p>
{{/each}}
{{~#if includeSpeciesDescriptions}}
<h2>Hakemuksen perustelut</h2>
{{#each speciesAmounts~}}
{{~#if description~}}
    <p>{{name.finnish}}: {{description}}</p>
{{/if~}}
{{/each~}}
{{/if~}}
{{#if partners}}
<h2>Osakkaat</h2>
<p>
{{#each partners~}}
    {{officialCode}} - {{name.finnish}}, Alueen tunnus: {{areaCodes}}<br/>
{{/each~}}
</p>
{{/if}}
<h2>Hakemusalue</h2>
Maapinta-ala: {{hectaresRounded landAreaSize}}<br>
Vesipinta-ala: {{hectaresRounded  waterAreaSize}}<br>
Kokonaispinta-ala: {{hectaresRounded  totalAreaSize}}<br>
Valtionmaiden maapinta-ala: {{hectaresRounded  stateLandAreaSize}}<br>
Yksityismaiden maapinta-ala: {{hectaresRounded privateLandAreaSize}}<br>

<h3>Hakemusalue sijaitsee seuraavien riistanhoitoyhdistysten alueella</h3>
<p>
{{#each rhys~}}
    {{rhy.nameFI}} {{hectaresRounded bothSize.total}}<br/>
{{/each~}}
</p>
{{#if htas}}
<h3>Hakemusalue sijaitsee seuraavien hirvitalousalueiden alueella</h3>
<p>
{{#each htas~}}
    {{hta.nameFI}} {{hectaresRounded computedAreaSize}}<br/>
{{/each~}}
</p>
{{/if~}}
{{#if freeHunting}}
    <h2>Ampujien määrä ML 8 §</h2>
    <p>Ampujat, jotka eivät kuulu muuhun pyyntilupaa hakevaan seuraan / seurueeseen: {{shooterOnlyClub}}</p>
    <p>Ampujat, jotka kuuluvat muuhun hirveä metsästävään seuraan / seurueeseen,
        mutta eivät metsästä siellä tulevana metsästyskautena: {{shooterOtherClubPassive}}</p>
    <p>Ampujat, jotka kuuluvat muuhun hirveä metsästävään seuraan / seurueeseen,
        ja metsästävät siellä tulevana metsästyskautena: {{shooterOtherClubActive}}</p>
    <p>Lupamäärään vaikuttavien ampujien määrä yhteensä: {{shooterTotal}}</p>
{{/if}}
<h2>Liitteet</h2>
{{#if freeHunting}}
    <h3>Aluelupa ML 8 §</h3>
    <p>
    {{#each mhAreaPermits~}}
        {{ this }}<br/>
    {{/each~}}
    </p>

    <h3>Ampujaluettelot ML 8 §</h3>
    <p>
    {{#each shooterLists~}}
        {{ this }}<br/>
    {{/each~}}
    </p>
{{/if~}}
{{#if otherAttachments}}
    <h3>Muut liitteet</h3>
    <p>
    {{#each otherAttachments~}}
        {{ this }}<br/>
    {{/each~}}
    </p>
{{/if}}
<h2>Lupapäätöksen toimittaminen</h2>
{{#if deliveryByMail}}
    <p>Haluan päätöksen kirjeenä</p>
{{else}}
    <p>Haluan päätöksen sähköisenä</p>
{{/if~}}
{{#if additionalEmails}}
    <p>
        Sähköinen jakelu: {{email1}} {{email2}}
    </p>
{{/if~}}
