<p>
    Tämä on Oma riista –palvelun automaattisesti luoma viesti.
<p>

<p>
    Riistanhoitoyhdistyksenne "{{ rhy.officialCode }} - {{ rhy.nameFI }}" alueelta on
    otettu haltuun seura ”{{ club.customerId }} - {{ club.nameFI }}" Oma riista –palvelussa.
</p>

<p>
    Seuran yhteyshenkilönä toimii
    {{ occupation.person.firstName }}
    {{ occupation.person.lastName }},
    {{ occupation.person.email }}
    puh. {{ occupation.person.phoneNumber }}
</p>

<p>
    Viesti ei edellytä toimenpiteitä.
</p>

<hr />

-- Älä vastaa tähän viestiin; se lähetettiin sähköpostiosoitteesta, jota ei seurata.
