<p>Hyvä vastaanottaja,</p>

<p>
    Nimitys tehtävään vanhenee {{expiryDate}}:
</p>

<p>
    <strong>{{personName}}</strong>
    <br>
    <strong>{{occupationName}}</strong>
    <br>
    <strong>{{rhyName}}</strong>
</p>

<p>
    Uutta nimitystä varten teidän on suoritettava kyseisen tehtävän vaatima kertauskoulutus yllä olevaan päivämäärään
    mennessä osoitteessa <a href="https://www.riistainfo.fi/">www.riistainfo.fi</a>. Kertauskoulutuksen hyväksytyn
    suorittamisen jälkeen teidät voidaan nimittää uudelleen kyseiseen tehtävään. Vaihtoehtoisesti voitte osallistua
    Suomen riistakeskuksen järjestämään koulutustilaisuuteen.
    Kertauskoulutusvaatimus ei koske rhy:n edustajia riistavahinkojen maastokatselmuksessa.
</p>

<p>Tämä viesti on lähetetty myös {{rhyReceiverName}}.</p>

<p>Ystävällisin terveisin,</p>
<p>Suomen riistakeskus</p>
<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
