<p>
    {{author.firstName}} {{author.lastName}} <br/>
    {{author.address.streetAddress}} <br/>
    {{author.address.postalCode}} {{author.address.city}} <br/>
    Telefon: {{author.phoneNumber}} <br/>
    E-post: {{author.email}}
</p>

<h2>FINLANDS VILTCENTRAL</h2>

{{#if permitNumber}}
    <h2>Dispens nummer: {{permitNumber}}</h2>
{{/if}}

<h2>MEDDELANDE OM JAKTENS RESULTAT</h2>

{{#if permitNumber}}
    <p>Med beviljad dispens har byte erhållits enligt följande:</p>
{{/if}}

<h2>{{toUpperCase species.name.sv}}</h2>

<p>Specifikation av djuret som erhållits som byte:</p>

<p>Mängd: {{amount}} st.</p>
<p>Fångsttid: {{dateTime pointOfTime "dd.MM.yyyy HH:mm"}}</p>

{{#if geoLocation}}
    <p>Fångstplatsens koordinater: {{geoLocation.latitude}} {{geoLocation.longitude}} ETRS-TM35FIN</p>
{{/if}}

{{#if propertyIdentifier}}
    <p>Fastighetsbetecking: {{propertyIdentifier.delimitedValue}}</p>
{{/if}}

{{#if municipality}}
    <p>Kommun: {{municipality.swedish}}</p>
{{/if}}

{{#if quotaArea}}
    <p>Kvotområde: {{quotaArea.nameSV}}</p>
{{/if}}

{{#if rka}}
    <p>Viltcentralens område: {{rka.nameSV}}</p>
{{/if}}

{{#if rhy}}
    <p>Jaktvårdsförening: {{rhy.nameSV}}</p>
{{/if}}

{{#if huntingAreaType}}
    <p>Fångstområde: {{i18n (enumName huntingAreaType) locale="sv"}}</p>
{{/if}}

{{#if huntingParty}}
    <p>Jaktföreningens/-sällskapets område, där bytet erhållits: {{huntingParty}}</p>
{{/if}}

{{#if huntingAreaSize}}
    <p>Jaktföreningens/-sällskapets område, där bytet erhölls: {{number huntingAreaSize "#.##" locale="sv"}}  ha</p>
{{/if}}

{{#if huntingMethod}}
    <p>Jaktmetod: {{i18n (enumName huntingMethod) locale="sv"}}</p>
{{/if}}

{{#if reportedWithPhoneCall}}
    <p>Har ni anmält till bytestelefon också? {{i18n (boolName reportedWithPhoneCall) locale="sv"}}</p>
{{/if}}

{{#if feedingPlace}}
    <p>Har den skjutits vid en utfodringsplats? {{i18n (boolName feedingPlace) locale="sv"}}</p>
{{/if}}

{{#if taigaBeanGoose}}
    <p>Är det en taigasädgås? {{i18n (boolName taigaBeanGoose) locale="sv"}}</p>
{{/if}}

{{~#if specimens}}
    <p>Noggrannare uppgifter om de bytesindivider för vilka uppgifter har getts:</p>

    <table border="1" cellspacing="0" cellpadding="5" width="95%">
        <thead>
        <tr>
            <th>Kön</th>
            <th>Ålder</th>
            <th>Vikt (kg)</th>
        </tr>
        </thead>
        <tbody>
        {{~#each specimens~}}
            <tr>
                <td>
                    {{#if gender}}
                        {{i18n (enumName gender) locale="sv"}}
                    {{else}}
                        -
                    {{/if}}
                </td>

                <td>
                    {{#if age}}
                        {{i18n (enumName age) locale="sv"}}
                    {{else}}
                        -
                    {{/if}}
                </td>

                <td>
                    {{#if weight}}
                        {{number weight "#.#" locale="sv"}}
                    {{else}}
                        -
                    {{/if}}
                </td>
            </tr>
        {{~/each~}}
        </tbody>
    </table>
{{/if}}

<h2>Fälld av:</h2>

<p>
    {{hunter.firstName}} {{hunter.lastName}} <br/>
    {{hunter.address.streetAddress}} <br/>
    {{hunter.address.postalCode}} {{hunter.address.city}}
</p>

{{#if permitNumber}}
    <p>
        Anvisning: Detta är ett meddelande som bekräftar att Finlands viltcentral har mottagit meddelandet om byte.
        I det fall att det i villkoren för licens-/dispensbeslutet ålagts skyldighet att även meddela till andra myndighetsaktörer,
        skall meddelandet om bekräftelse i sin helhet skickas vidare även till dessa senast den första vardagen från det,
        att det i dispensbeslutet avsedda viltet har fångats.
    </p>
{{/if}}

<p>
    (Meddelandets identifikationsuppgifter: {{dateTime timestamp "dd.MM.yyyy HH:mm:ss"}}, id={{id}}, revision={{rev}}, state={{state}}, c={{createdByUserId}}, m={{modifiedByUserId}})
</p>
