<p>
Päivämäärä: {{dateTime resignationTime "dd.MM.yyyy HH:mm"}}
</p>

<p>
Haluan poistaa vapaaehtoiset riistatietoni, käyttäjätilini sekä henkilötietoni Oma riista -palvelusta. Ymmärrän, että tietojani ei voida palauttaa poistamisen jälkeen.
</p>

<p>
Nimi: {{fistName}} {{lastName}}
{{#if hunterNumber}}
Metsästäjänumero: {{hunterNumber}}
{{/if}}
Sähköpostiosoite: {{email}}
</p>

<p>
Tämä on automaattisesti Oma riista -palvelusta lähetetty viesti. Älä vastaa tähän viestiin.
</p>