<p>
    {{author.firstName}} {{author.lastName}} <br />
    {{author.address.streetAddress}} <br />
    {{author.address.postalCode}} {{author.address.city}} <br />
    Telefon: {{author.phoneNumber}} <br />
    E-post: {{author.email}} <br />
</p>

<h1>FINLANDS VILTCENTRAL</h1>

<h2>Dispens nummer: {{permit.permitNumber}}</h2>

<h2>MEDDELANDE OM JAKTENS RESULTAT</h2>

<p>Jakten med stöd av dispens {{permit.permitNumber}} meddelas vara avslutad.</p>
{{#if noHarvest}}
<p>Inga byten.</p>
{{else}}
<p>
    Med beviljad dispens har byte erhållits enligt följande:

    <h3>Sammandrag</h3>

    <table border="1">
        <thead>
        <th></th>
        <th></th>
        <th colspan=3>Kön</th>
        <th colspan=3>Ålder</th>
        </thead>
        <thead>
        <th>Art</th>
        <th>Mängd</th>
        <th>Hondjur</th>
        <th>Handjur</th>
        <th>Okänd</th>
        <th>Vuxen</th>
        <th>Under 1 år</th>
        <th>Okänd</th>
        </thead>
        <tbody>{{#each summaries}}
            <tr>
                <td>{{@key.nameSwedish}}</td>
                <td>{{total}}</td>
                <td>{{genderFemale}}</td>
                <td>{{genderMale}}</td>
                <td>{{genderUnknown}}</td>
                <td>{{ageAdult}}</td>
                <td>{{ageYoung}}</td>
                <td>{{ageUnknown}}</td>
            </tr>{{/each}}
        </tbody>
    </table>
</p>
{{/if}}
<p>
    (Meddelandets identifikationsuppgifter: {{timestamp timestamp "dd.MM.yyyy HH:mm:ss"}}, id={{id}}, revision={{rev}}, state={{state}}, c={{createdByUserId}}, m={{modifiedByUserId}})
</p>
