<h1>
    Hirvieläimen pyyntiluvan saajan tai luvansaajan suostumuksella lupaosakkaan ilmoitus Metsästyksenjohtajista
    <br/>
    {{club}}
</h1>
<p>Asiakasnumero: {{clubCustomerNumber}}</p>
<p>Ryhmä ilmoittaa metsästyksenjohtajat seuraavasti:
    ensimmäisenä on metsästyksen johtaja ja hänen alapuolellaan varajohtajat.</p>

{{#each groups}}
    <table width="100%">
        <thead style="text-align: left; font-size: 120%;">
        {{#if permitNumber}}
            <tr>
                <th colspan="4">Lupa: {{permitNumber}}</th>
            </tr>
        {{/if}}
        <tr>
            <th width="30%">Ryhmä</th>
            <th width="35%">Metsästyksenjohtajat</th>
            <th width="20%">Metsästäjänro</th>
            <th width="15%">Tallennettu</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.leaders}}
            <tr>
                <td>
                    {{#if @first}}
                        <strong>{{../nameFinnish}} ({{../speciesNameFinnish}})</strong>
                    {{/if}}
                </td>
                <td>{{name}}</td>
                <td>{{hunterNumber}}</td>
                <td>{{date}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <br/>
{{/each}}

<p>Metsästysvuosien vaihteessa listataan kuluvan ja seuraavan vuoden ryhmien tiedot.</p>
