<p>
    {{author.firstName}} {{author.lastName}} <br />
    {{author.address.streetAddress}} <br />
    {{author.address.postalCode}} {{author.address.city}} <br />
    Puhelin: {{author.phoneNumber}} <br />
    Sähköposti: {{author.email}} <br />
</p>

<h1>SUOMEN RIISTAKESKUS</h1>

<h2>Luvan numero: {{permitNumber}}</h2>

<h2>ILMOITUS PYYNNIN TULOKSESTA</h2>

<p>Luvan {{permitNumber}} metsästys ilmoitetaan päättyneeksi.</p>
{{#if noHarvest}}
<p>Ei saaliita.</p>
{{else}}
<p>
    Myönnetyllä luvalla on saatu saalista seuraavasti:

    <h3>Yhteenveto</h3>

    <table border="1">
        <thead>
        <th></th>
        <th></th>
        <th colspan=3>Sukupuoli</th>
        <th colspan=3>Ikä</th>
        </thead>
        <thead>
        <th>Laji</th>
        <th>Määrä</th>
        <th>Naaras</th>
        <th>Uros</th>
        <th>Tuntematon</th>
        <th>Aikuinen</th>
        <th>Alle 1v</th>
        <th>Tuntematon</th>
        </thead>
        <tbody>{{#each summaries}}
        <tr>
            <td>{{@key.nameFinnish}}</td>
            <td>{{total}}</td>
            <td>{{genderFemale}}</td>
            <td>{{genderMale}}</td>
            <td>{{genderUnknown}}</td>
            <td>{{ageAdult}}</td>
            <td>{{ageYoung}}</td>
            <td>{{ageUnknown}}</td>
        </tr>{{/each}}
        </tbody>
    </table>
</p>

<h3>Yksityiskohtaiset tiedot</h3>
{{#each harvests}}
<div style="margin-top: 10px;margin-bottom: 10px;padding-top: 10px;">
    <div>
        <strong> {{timestamp pointOfTime "dd.MM.yyyy HH:mm"}} </strong>
        <strong>
            {{species.nameFinnish}}
            {{amount}} kpl
        </strong>
    </div>
    <div style="margin-left: 10px;">
        <div><strong>Pyyntipaikan koordinaatit:</strong> P {{geoLocation.latitude}} I {{geoLocation.longitude}} (ETRS-TM35FIN)</div>
        <div><strong>Kirjaaja:</strong> {{author.firstName}} {{author.lastName}}</div>
        <div><strong>Kaataja:</strong> {{actualShooter.firstName}} {{actualShooter.lastName}}</div>
    </div>
    {{#if sortedSpecimens}}
    <div style="margin-left: 10px;">Tarkemmat tiedot niistä saalisyksilöistä joille tietoja on annettu:
        <table border="1">
            <thead>
            <tr>
                <th style="text-align: center;">Sukupuoli</th>
                <th style="text-align: center;">Ikä</th>
                <th style="text-align: center;">Paino (kg)</th>
            </tr>
            </thead>
            <tbody>
            {{~#each sortedSpecimens~}}
                <tr>
                    <td style="text-align: center;width: 100px;padding-left: 5px;padding-right: 5px;">
                        {{#if gender}}
                            {{i18n (enumName gender) locale="fi"}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <td style="text-align: center;width: 100px;padding-left: 5px;padding-right: 5px;">
                        {{#if age}}
                            {{i18n (enumName age) locale="fi"}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <td style="text-align: center;width: 100px;padding-left: 5px;padding-right: 5px;">
                        {{#if weight}}
                            {{number weight "#.#" locale="fi"}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                </tr>
            {{~/each~}}
            </tbody>
        </table>
    </div>
    {{/if}}
    <p style="border-top-width: 1px;border-top-style: solid;border-top-color: #007236;"></p>
</div>
{{~/each}}

{{/if}}
<p>
    (Viestin tunnistetiedot: {{timestamp timestamp "dd.MM.yyyy HH:mm:ss"}}, state={{state}}, author={{author.id}})
</p>
