<p>DET HÄR SVARET ÄR AUTOMATISKT SKAPAT. SVARA INTE PÅ DET HÄR MEDDELANDET.</p>

<p>I din viltlogg i Oma riista –tjänsten finns ett bytesdjur registrerat, för vilket man enligt lagen måste göra en
    bytesanmälan.</p>
<p>
    Art: {{species.name.sv}} <br>
    Fångsttid: {{timestamp pointOfTime "dd.MM.yyyy HH:mm"}}<br>
    Anmälare: {{author.firstName}} {{author.lastName}} <br>
    Skytt: {{hunter.firstName}} {{hunter.lastName}}
</p>
<p>Du kan göra bytesanmälan <a href="https://oma.riista.fi">i Oma riista</a> tjänsten.</p>

<p> Det är bra att ta bort bytesregistreringar från viltloggen som har gjorts i försökssyfte, för att bl.a. <a
        href="http://riista.fi/metsastys/saalisseuranta/">den regionala bytesuppföljningen</a> bytesmängderna ska förbli
    tillförlitliga.</p>
<p>
    Bytesregistreringen kan tas bort antingen <a href="https://oma.riista.fi">i Oma riista</a> tjänsten eller med den
    senaste Oma riista -mobilapplikationen. Uppdatera din mobilapplikation vid behov.
</p>
<p>
    Hälsningar,<br>
    Oma riista –tjänstens systemansvarig<br>
    Finlands viltcentral
</p>
