<p>TÄMÄ ON AUTOMAATTISESTI LUOTU VIESTI. ÄLÄ VASTAA TÄHÄN VIESTIIN.</p>

<p>Oma riista -palvelun riistalokissasi on kirjattuna saaliseläin, josta lain mukaan pitää tehdä saalisilmoitus.</p>
<p>
    Laji: {{species.name.fi}} <br>
    Pyyntiaika: {{timestamp pointOfTime "dd.MM.yyyy HH:mm"}}<br>
    Ilmoittaja: {{author.firstName}} {{author.lastName}} <br>
    Ampuja: {{hunter.firstName}} {{hunter.lastName}}
</p>
<p>Voit tehdä saalisilmoituksen <a href="https://oma.riista.fi">Oma riista</a> palvelussa.</p>

<p>Testimielessä tehdyt saaliskirjaukset on hyvä poistaa riistalokista, jotta mm. <a
        href="http://riista.fi/metsastys/saalisseuranta/">alueellisen saalisseurannan</a> saalismäärät pysyvät
    luotettavina.</p>
<p>
    Saaliskirjauksen voi poistaa joko <a href="https://oma.riista.fi">Oma riista</a> palvelussa tai ajantasaisella Oma
    riista -mobiilisovelluksella. Päivitä mobiilisovellus tarvittaessa.
</p>
<p>
    Terveisin,<br>
    Oma riista -palvelun ylläpito<br>
    Suomen riistakeskus
</p>