<p>
Datum: {{dateTime resignationTime "dd.MM.yyyy HH:mm"}}
</p>

<p>
Jag vill radera mina frivilliga viltuppgifter, användarkontot samt mina personuppgifter från Oma riista -tjänsten. Jag förstår, att mina uppgifter inte kan returneras efter raderingen.
</p>

<p>
Namn: {{fistName}} {{lastName}}
{{#if hunterNumber}}
Jägarnummer: {{hunterNumber}}
{{/if}}
E-postadress: {{email}}
</p>

<p>
Detta är ett automatiskt meddelande, svara inte på detta meddelande.
</p>