<p>Det här är ett automatiskt skapat meddelande från Oma riista –tjänsten.</p>

<p>Licensens {{data.permitNumber}} ({{data.speciesName.swedish}}) alla samdeltagare har för sin egen del markerat jakten som avslutad.</p>
{{#if data.nokNotEdibles}}
    <p>
        OBS: Antalet älgar icke dugliga älgar som människoföda i licensen motsvarar inte antalet nya licenser. Vi ber
        er kontrollera om någon samsökslicensdeltagare antecknat uppgifterna för icke dugliga till människoföda fel
        eller om behandlingen av ny en licens ännu är obehandlad. Du kan markera jakten med licensen som avslutad
        först då antalen överensstämmer.
    </p>
{{/if}}

{{#if data.allOk}}
    <p>
        För att meddela jakten med licens {{data.permitNumber}} ({{data.speciesName.swedish}}) som avslutad måste du:
    <ol>
        <li>Betala bytet du fått genom att använda nedanstående uppgifter.</li>
        <li>Sätta in eller skanna betalningsverifikatet.</li>
        <li>Bifoga betalningsverifikatet till det <a target="_blank" href="{{link}}">elektroniska meddelandet</a>.</li>
        <li>Markera jakten som avslutad.</li>
    </ol>

<pre>
Summa: {{data.sum}} EUR
Förfallodag: {{data.dueDate}}
Kontonummer:
       IBAN: {{data.iban}}
        BIC: {{data.bic}}
Referensnummer: {{data.creditorReference}}
</pre>

    </p>
{{/if}}
<hr/>
<p>-- Svara inte på det här meddelandet; det sändes från en e-postadress som inte uppföljs.</p>
