<p>
Datum: {{dateTime resignationTime "dd.MM.yyyy HH:mm"}}
</p>

<p>
Jag vill radera mina frivilliga viltuppgifter, användarkontot samt mina personuppgifter från Oma riista -tjänsten. Jag förstår, att mina uppgifter inte kan returneras efter raderingen.
</p>

<p>
Om du raderar Oma riista -kontot, raderas inte dina uppgifter från Jägarregistret. Du måste kontakta Jägarregistret skriftiligen om du vill att dina uppgifter ska raderas även därifrån. Genom att radera uppgifterna från jägarregistret förfaller jägarexamen och det går inte längre att utöva jakt.
</p>

<p>
Namn: {{fistName}} {{lastName}}
{{#if hunterNumber}}
Jägarnummer: {{hunterNumber}}
{{/if}}
E-postadress: {{email}}
</p>

<p>
Detta är ett automatiskt meddelande, svara inte på detta meddelande.
</p>