<p>
    Det här är ett automatiskt skapat meddelande från Oma riista –tjänsten.
<p>

<p>
    Inom er jaktvårdsförenings "{{ rhy.officialCode }} - {{ rhy.nameSV }}" område har
    föreningen ”{{ club.customerId }} - {{ club.nameSV }}" tagits i besitting i Oma riista –tjänsten.
</p>

<p>
    Som föreningens kontaktperson verkar
    {{ occupation.person.firstName }}
    {{ occupation.person.lastName }},
    {{ occupation.person.email }}
    tel. {{ occupation.person.phoneNumber }}
</p>

<p>
    Meddelandet föranleder inga åtgärder.
</p>

<hr />

-- Svara inte på det här meddelandet; det sändes från en e-postadress som inte uppföljs.
