<p>Ärade mottagare,</p>

<p>
    Utnämning upphör {{expiryDate}}:
</p>

<p>
    <strong>{{personName}}</strong>
    <br>
    <strong>{{occupationName}}</strong>
    <br>
    <strong>{{rhyName}}</strong>
</p>

<p>
    För att få en ny utnämning måste ni avlägga en repetitionsutbildning som krävs för ifrågavarande uppdrag före ovan
    nämnda datum på adressen <a href="https://www.riistainfo.fi/">www.riistainfo.fi</a>. Efter att
    repetitionsutbildningen är godkänd kan ni utnämnas på nytt för ifrågavarande uppdrag. Alternativt kan ni delta i
    utbildningstillfälle som ordnas av Finlands viltcentral.
    Kravet på repetitionsutbildning gäller inte för jvf:s representanter vid terrängundersökningar av viltskador.
</p>

<p>Det här meddelandet har också sänts till {{rhyReceiverName}}.</p>

<p>Med vänlig hälsning,</p>
<p>Finlands viltcentral</p>
<hr/>
<p>Detta är ett automatiskt meddelande, svara inte på detta meddelande.</p>
